/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    font-family: 'Roboto', sans-serif; /* Changed font family */
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f9fa; /* Light grey background for a clean look */
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background-color: #000;
    padding: 16px 0; /* Increased padding */
    width: 100%; /* Ensure header spans full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 60px); /* Adjust width to account for padding */
    margin: 0 auto;
    padding: 0 30px; /* 30px padding on both sides */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.name-left {
    margin: 0;
    font-size: 1.5rem; /* Increased font size */
}

.name-left a {
    color: #fff; /* White color for the Mike Tattersall link */
    text-decoration: none; /* No underline by default */
}

.name-left a:hover {
    text-decoration: underline; /* Underline on hover */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px; /* Consistent margin between links */
}

.nav-links a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: 700; /* Made headings bolder */
    color: #333;
}

h2 {
    margin-bottom: 20px; /* Reduced gap */
    font-size: 2rem; /* Increased font size */
}

main {
    width: 80%;
    margin: 40px auto; /* Increased margin for better spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #fff; /* White background for a card-like effect */
    padding: 20px; /* Added padding */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.blog-content {
    margin-bottom: 20px;
}

a {
    color: #007bff; /* Accent colour for links */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

a:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: underline;
}

.post-date {
    color: grey;
}

footer {
    background-color: #000; /* Black background for the footer */
    color: white; /* White text color */
    text-align: center;
    padding: 20px 0; /* Increased padding */
    font-size: 14px; /* Slightly increased font size */
    width: 100%; /* Ensure footer spans full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.footer-content a {
    color: white; /* White text color for links */
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}

.original-size-image {
    max-width: 100%; /* ensures the image is never wider than its container */
    height: auto; /* maintains the aspect ratio */
   
