body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

header {
    background-color: #000000;
    padding: 12px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.name-left {
    margin: 0;
    color: white;
}

.home-link {
    color: white;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}

main {
    width: 90%;
    margin: 20px auto;
}

.profile-section {
    margin-bottom: 20px;
}

.profile-img {
    width: 326px; /* Half the original width */
    height: 431px; /* Half the original height, rounded */
    float: left;
    margin-right: 20px;
    border-radius: 0; /* Optional: remove if you want square corners */
}

.intro-text {
    margin-top: 20px;
}

.intro-text p {
    font-size: 1.4em;
}

.blog-link {
    margin-bottom: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.post-date {
    color: grey;
}
