body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

header {
    background-color: #d3d3d3;
    color: black;
    padding: 15px 0;
}

.header-content {
    width: 90%;
    margin: 0 auto;
    text-align: right;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    width: 90%;
    margin: 20px auto;
}

.profile-section, .blog-link, .blog-content {
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
